# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by 
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle  
 
on:
  push: 
    branches: [ develop ]

permissions: 
  contents: read

jobs:
  build:
    name: Test And Build
    runs-on: ubuntu-latest 
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
    - name: Create Spring Properties
      run: |
        mkdir src/main/resources
        touch src/main/resources/application.properties 
        echo "${{secrets.APPLICATION_PROPERTIES}}" > src/main/resources/application.properties
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew clean build
    - name: Temporarily save build artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-artifact
        path: build
        retention-days: 1
  docker:
    name: Deploy Docker Image
    runs-on: ubuntu-latest
    needs: build
    env:
      REPO: ${{secrets.DOCKER_REPO}}
    steps:
    - uses: actions/checkout@v3
    - name: Retrieve built
      uses: actions/download-artifact@v3
      with:
        name: build-artifact
        path: build
    - name: Docker Hub Sign-in 
      run: docker login -u ${{secrets.DOCKER_ID}} -p ${{secrets.DOCKER_PASSWORD}}
    - name: Building Docker Image
      run: docker build -t $REPO:latest -t $REPO:${GITHUB_RUN_ID} ./
    - name: Publish Docker Image
      run: docker push $REPO
  deploy:
    name: Deploy To Server
    runs-on: ubuntu-latest
    needs: docker
    steps: 
      - name: Test ssh-action
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          password: ${{secrets.PASSWORD}}
          port: ${{secrets.PORT}}
          script: |
          
            docker login -u ${{secrets.DOCKER_ID}} -p ${{secrets.DOCKER_PASSWORD}}
            
            cd shopping
            
            ./deploy.sh
